@model Dcm.Models.Group
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Gruplar";
}

<link rel='stylesheet' type='text/css' href='~/assets/plugins/datatables/dataTables.css' />
<link rel='stylesheet' type='text/css' href='~/assets/plugins/codeprettifier/prettify.css' />
<link rel='stylesheet' type='text/css' href='~/assets/plugins/form-toggle/toggles.css' />

@using (Html.BeginForm("Group", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", data_validate = "parsley", novalidate = "", id = "validate-form" }))
{
    <input type="hidden" name="RecordId" id="RecordId" value="@Model.RecordId" />
    <input type="hidden" name="MenuId" id="MenuId" value="@Model.MenuId" />
    <div id='wrap'>
        <div id="page-heading" style="
    margin-top: -15px;
">

            <h3>Gruplar</h3>

            <div class="options">
                <div class="btn-toolbar">
                    <a href="@(Url.Action("ListPage","General")+"?MenuId="+Dcm.Source.GlobalHelper.Encrypt(Model.MenuId))" class="btn btn-default"><i class="fa fa-list"></i><span style="padding-left:10px">Return List</span></a>
                </div>
            </div>

        </div>


        <div class="container">
            <div id="message_div" class="alert alert-info" style="display:none;vertical-align:top">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @ViewBag.ResultMessage
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Detail</h4>

                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-validate">
                                    <label class="control-label">@Dcm.Source.GlobalHelper.GetGlobalResource("group_name")</label>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-validate">
                                    <input type="text" class="form-control" name="group_name" required="required" id="group_name" value="@Model.group_name" autocomplete="off" placeholder="@Dcm.Source.GlobalHelper.GetGlobalResource("group_name")">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-validate">
                                    <p><label class="control-label">@Dcm.Source.GlobalHelper.GetGlobalResource("group_explanation")</label></p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-validate">
                                    <p><input type="text" name="group_explanation" id="group_explanation" required="required" value="@Model.group_explanation" class="form-control" autocomplete="off" placeholder="@Dcm.Source.GlobalHelper.GetGlobalResource("group_explanation")"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-validate">
                                    <p><label class="control-label">@Dcm.Source.GlobalHelper.GetGlobalResource("group_manager")</label></p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  form-validate">
                                    <p>
                                        <input id="inputUsers" type="text" name="ManagerName" class="form-control" title="Managers" placeholder="Start Writing Manager Name" value="@Model.ManagerName" />
                                    </p>
                                    <input id="ManagerId" name="ManagerId" type="hidden" value="@Model.ManagerId" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  form-validate">
                                    
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  form-validate">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-validate">
                                    <label class="control-label">@Dcm.Source.GlobalHelper.GetGlobalResource("isactive")</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <input type="checkbox" id="chk_is_active" name="chk_is_active">
                                    <input type="hidden" id="is_active" name="is_active">
                                </div>
                            </div>

                        </div>
                        
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="btn-toolbar">
                                    @if (Dcm.Source.GlobalHelper.IsAuthorized(Model.MenuId, "update_right", BaseDB.SessionContext.Current.ActiveUser.UserUid.ToString()))
                                     {
                                        <input type="submit" class="btn-primary btn" value="Save" onclick="Update()" />
                                     }
                                     
                                       @if (Model.RecordId != "" && Model.RecordId != Guid.Empty.ToString() && Dcm.Source.GlobalHelper.IsAuthorized(Model.MenuId, "delete_right", BaseDB.SessionContext.Current.ActiveUser.UserUid.ToString()))
                                        {
                                            <input type="button" style="margin-left:50px" class="btn-danger btn" value="Delete" onclick="Delete()" />
                                        }
                                        @*<button class="btn-default btn">Cancel</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div><!-- container -->
    </div>
    
    <input type="hidden" id="FromDeleteButton" name="FromDeleteButton" />

}

<style>
    .table-bordered > tbody > tr > td {
        padding: 5px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #e6e7e8;
    }

    #wrap > .container {
        padding: 10px;
    }

    #wrap {
        margin-top: 0px;
    }
</style>
<script type='text/javascript' src='~/assets/plugins/datatables/jquery.dataTables.min.js'></script>
<script type='text/javascript' src='~/assets/plugins/datatables/dataTables.bootstrap.js'></script>

<script>
    $(document).ready(function () {

        var prevSuggestionValue = "";
        $('#inputUsers').devbridgeAutocomplete({
            serviceUrl: '/Users/UserList?type=ALL',
            onSelect: function (suggestion) {
                if (prevSuggestionValue == suggestion.value) {
                    return false;
                }
                prevSuggestionValue = suggestion.value;

                $("#ManagerId").val(suggestion.data.id);
                //$("#hdnUserListCategory").val(suggestion.data.category);
            }
            //,groupBy: 'category'
        });


        if ('@Model.is_active' == 'True' || '@Model.is_active' == 'true' || '@Model.is_active' == 'TRUE') {
            $("#chk_is_active").prop('checked', true);
        }

       
    });

    function Update() {
        if ($("#chk_is_active").prop('checked') == true) {
            $("#is_active").val("true");
        }



        var isValid = $('#validate-form').parsley().validate();

        if (!isValid) {
            $('#message_div').hide()
        }

    }

    function Delete() {

        bootbox.confirm('@Resources.GlobalResource.are_you_sure_to_delete', function (result) {
            if (result) {
                $("#FromDeleteButton").val("1");
                $("#validate-form").parsley().destroy();
                $("#validate-form").submit();
            }
        });

    }
</script>
